<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.mosaicatm.fuser.datacapture.db.dao.TmiExtensionMapper">
    
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS ${tableName}
        (
            gufi                varchar,
            apreqs       		jsonb,
            fix_closures  		jsonb,
            ground_delay_programs jsonb,
            ground_stops    	jsonb,
            miles_in_trails    	jsonb,
            reroutes    		jsonb,
            record_identifier   varchar,
            record_timestamp    timestamp,
            timestamp           timestamp
        )
        WITH 
        (
          OIDS=FALSE
        )    
    </update>
    
    <update id="createIndex">
        create index concurrently idx_timestamp_${tableName} on ${tableName} (timestamp);
        create index concurrently idx_record_id_${tableName} on ${tableName} (record_identifier);
        create index concurrently idx_gufi_${tableName} on ${tableName} (gufi);
    </update>

</mapper>